.cta-section {
    background-color: #283618;
    color: #FAEDCD;
    padding: 50px 20px;
    text-align: center;
  }
  
  .cta-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .cta-header {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .cta-paragraph {
    font-size: 1.2rem;
    margin-bottom: 50px;
  }
  
  .cta-button {
    border: 2px solid var(--secondary-color);
    background-color: #D4A373;
    color: white;
    padding: 15px 30px;
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    
  }
  
  .cta-button:hover {
    background-color: #CCD5AE;
  }
  